body {
  margin: 0;
  background: #0f0f0f;
  font-family: Arial;
  color: #ddd;
}

.container {
  display: flex;
  gap: 25px;
  padding: 25px;
}

.article-panel {
  width: 70%;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

.article-panel img {
  width: 100%;
  border-radius: 10px;
}

.sidebar {
  width: 30%;
  background: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
}
#stockResult {
  display: none;
  padding: 20px;
  color: white;
}

#chartWrapper {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin-top: 20px;
}
